@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

body {
  /* background-image: url("/assets/bg.jpg");
  background-size: cover; */
  /* background: rgb(108, 155, 255);
  background: linear-gradient(
    0deg,
    rgba(145, 146, 255, 1) 0%,
    rgba(77, 141, 246, 1) 48%,
    rgba(96, 144, 247, 1) 71%,
    rgba(124, 152, 255, 1) 83%,
    rgba(153, 186, 249, 1) 100%
  ); */
}
